p{
	color:turquoise;
	text-shadow:1px 0 0 #000 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
    front-style:italic;
    text-align:right;
    front-family:!important;
    front-weight:bold;
}

body{
    background-color: #d9d9d9;
}
